#inboxwp-email-ignore-notice {
    background-color: #fff;
    /*border-left: 4px solid #00C4ED;*/
    border-radius: 3px;
    /*padding: 1%;*/
}


.inboxwp-ignore-notice-btn {
    display: block;
    padding: 0;
    background: none;
    border: none;
    color: #007bff;
    /*color: #BEC0C2;*/
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
    line-height: 25px;
}

.inboxwp-ignore-notice-btn:hover {
    text-decoration: underline;
}

.inboxwp-ignore-notice-plugin-name {
    color: #000;
}


.modal-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(7 6 6 / 72%);
    z-index: 9999;
}

.modal {
    background-color: #fff;
    max-width: 500px;
    margin: 15% auto;
    padding: 3%;
    border-radius: 10px;
}

.close-modal {
    display: block;
    margin-top: 10px;
}

.inboxwp-ignore-notice-modal-header {
    color: #54595E;
    margin-top: 0;
}

#inboxwp-email-ignore-notice {
    margin-left: 0;
}